{% extends "base.html" %}

{% block content %}

<br>
<div align = "center">
    <h1>Query The Hive!</h1>

    <p align = "center"><h4><em>Just enter some text and press 'submit'.</em></h4>
    The code will check to see if any phrases exist that contain your text.<br>
    If you enter two terms, both must appear in the phrase for it to show as a result.<br>
    The code will list the phrases in order of the times they were submitted and queried.<br>
    Enter the first one or two words from the beginning or end of the last search to search laterally.</p>

    <br>

    <form method='post'>
        <label><h5><em>See what the 'hive' said about your words or phrases.</em></h5><br>Enter one or two text elements:</label><br>

            <input type="text" name='quechunk' /><br><br>
            <input type="text" name='quechunk2' /><br><br>

        <input type="submit" />
    </form>

<br>
<p align = "center"><em>The server is a little buggy here, so if you get an error, please re-load the page and try again.<br>
Search results show totals NOT INCLUDING your current search, ie up to this point.<br>
'Activity Level' refers to the sum of times a phrase has been submitted times it has been queried.</em></p>

    <br>

    <h3><a href = "/">Click here to go back to the Home Page.</a></h3>

    <br>
    <hr />

<div align = "left">
    <h2>Results:</h2><br>

        <ul align = "left">
            {{error}}
            {% for drop in honey %}
            <li>{{drop}}</li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}